*{
  box-sizing: border-box;
}
@media screen and (min-width:576px) {
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    display: block;
    flex: 0 0 calc(90%/3);
    margin-right:0;
  }
}

.carousel-indicators{
  bottom: -80px;
}