@import url("/fonts/stylesheet.css");

* {
    font-family: 'Larsseit';
    font-size: 18px;
}
.btn-primary{
    font-weight: 700;
      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      gap: 10px;

      /* Inside auto layout */

      flex: none;
      flex-grow: 0;
}